<header>
  <h1 style=" {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #8a2be2, #00bfff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}">EmoVoid</h1>
  <p>Type your rage. We’ll delete it forever.</p>
</header>

<main>
  <app-void-animator></app-void-animator>
</main>

<footer>
  <small>
    🔒 Your words never leave your browser.
<!--    <a href="assets/privacy-policy.html" target="_blank">Privacy Promise</a> •-->
<!--    <a href="https://findahelpline.com" target="_blank">Need help?</a>-->
  </small>
</footer>
